# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore sass cache file.
*.scssc

#ignore workspace file
workspace.xml
.idea/vcs.xml
