table {
  width: 100%; }
  table th, table td {
    padding: 8px 10px;
    border: none; }
  table tr.even {
    background-color: #fcfcfc; }
  table tr.odd {
    background-color: #ffffff; }
  table td.active {
    background-color: #f7f7f7; }
  table th.radio, table th.checkbox,
  table td.radio, table td.checkbox {
    display: table-cell; }
    table th.radio input[type="radio"], table th.radio input[type="checkbox"], table th.checkbox input[type="radio"], table th.checkbox input[type="checkbox"],
    table td.radio input[type="radio"],
    table td.radio input[type="checkbox"], table td.checkbox input[type="radio"], table td.checkbox input[type="checkbox"] {
      position: inherit;
      margin: 0; }

.sticky-header {
  z-index: 999;
  min-height: 58px;
  display: block; }

.views-table {
  border-radius: 4px; }
  .views-table .views-field-views-bulk-operations, .views-table .views-field-edit-node {
    text-align: center; }
  .views-table .views-field {
    vertical-align: middle; }
    .views-table .views-field input[type="radio"], .views-table .views-field input[type="checkbox"] {
      margin: 0; }
  .views-table .even td {
    background-color: white; }
  .views-table .views-row-last {
    border-bottom: none; }

.node-form textarea {
  color: black; }
.node-form div.form-item-title {
  padding-left: 165px; }
.node-form div.form-wrapper {
  padding-left: 165px; }
  .node-form div.form-wrapper .form-type-checkboxes {
    padding-left: 0; }
    .node-form div.form-wrapper .form-type-checkboxes .form-checkboxes {
      padding-left: 165px;
      display: inline-block; }
.node-form .form-type-checkboxes.form-item-domains {
  padding-left: 165px; }
  .node-form .form-type-checkboxes.form-item-domains .form-type-checkbox {
    padding-left: 165px; }
.node-form .form-text, .node-form .form-select {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e2e2e4;
  border-radius: 4px;
  box-shadow: none;
  color: black;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%; }
.node-form .group-parameters .form-text, .node-form .group-parameters .form-select {
  display: inline-block; }
.node-form .image-widget-data .form-item {
  margin-top: 20px; }
.node-form .image-widget-data .description {
  white-space: nowrap; }
.node-form #edit-domains {
  display: inline-block; }
.node-form #edit-actions {
  padding: 0; }
.node-form input[type="file"] {
  display: inline-block; }

.btn-primary {
  margin-right: 20px; }

.btn-warning {
  margin-right: 20px; }

/** reporting */
.page-node-submission fieldset.webform-submission-info {
  padding-left: 0;
  padding-right: 0; }
  .page-node-submission fieldset.webform-submission-info .webform-submission-info-text {
    line-height: 2em;
    padding: 0 10px; }

/** end reporting */
footer.site-footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%; }

/*# sourceMappingURL=custom.css.map */
