@import url(http://fonts.googleapis.com/css?family=Lato|Arvo:400|Allan|Cabin|Cardo|Chivo|Courgette|Cuprum|Dancing+Script:700|Droid+Sans|Droid+Serif|Dosis:500|Lobster|Lobster+Two|Mako|Merienda+One|Miniver|Molengo|Open+Sans|Oxygen|Playball|Pontano+Sans|Philosopher|PT+Sans|PT+Sans+Narrow|Radley|Rokkitt|Salsa|Vollkorn|Ubuntu|Yanone+Kaffeesatz);
html {
  height: 100%;
  background-color: #333333; }

body {
  color: #848484;
  background: #f7f7f7;
  font-family: "hei regular","Helvetica Neue",Helvetica,Arial,sans-serif; }

ul, li {
  list-style: none; }

a {
  color: #1a9a3b; }
  a:hover, a:focus {
    text-decoration: none;
    color: #1a9a3b;
    outline: none; }

h1, h2, h3 {
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  color: #1a9a3b; }

h4, h5, h6 {
  padding-bottom: 10px;
  color: #1a9a3b; }

.panel-pane {
  padding-bottom: 20px;
  background: #ffffff;
  border: 1px solid #e6e6e6; }

.region-two-66-33-second h3 {
  color: #cdcdcd; }

.header_contacts {
  background: #1a9a3b;
  color: #ffffff;
  font-size: 18px;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 10px;
  height: 34px;
  line-height: 32px;
  width: 245px; }
  .header_contacts a {
    color: #ffffff; }
    .header_contacts a:hover {
      color: #ffffff; }
    .header_contacts a:active {
      color: #ffffff; }
  .header_contacts .glyphicon {
    font-size: 19px;
    margin-right: 10px;
    vertical-align: baseline;
    top: 3px; }
  .header_contacts .service {
    border-left: 1px solid rgba(30, 30, 30, 0.29);
    box-shadow: -1px 0 0 0 rgba(200, 200, 200, 0.5);
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px; }

.main-color {
  color: #1a9a3b; }

.section-distance-top {
  margin-top: 20px; }

.section-distance-left {
  margin-left: 20px; }

.section-distance-right {
  margin-right: 20px; }

.section-distance-bottom {
  margin-bottom: 20px; }

.section-inner-left {
  padding-left: 20px; }

.section-inner-right {
  padding-right: 20px; }

.section-inner-top {
  padding-top: 20px; }

.section-inner-bottom {
  padding-bottom: 20px; }

.gl-title {
  color: #1a9a3b;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px; }

.gl-title-lg {
  font-size: 22px;
  font-weight: bold;
  height: 48px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6; }

.gl-title-slg {
  font-size: 30px;
  font-weight: bold;
  display: block; }

.third-bg-color {
  background-color: #fcfcfc; }

.button {
  background-color: #1a9a3b;
  border-radius: 5px;
  border: 1px solid #26af4a;
  box-shadow: 0px 0px 0px 1px #178031;
  color: #ffffff;
  display: block;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  text-shadow: 1px 1px 1px #178031; }
  .button:hover, .button:focus {
    color: #ffffff; }

.half {
  display: inline-block;
  width: 50%; }

.alert {
  padding: 0; }

.fade {
  opacity: 0; }

.lable-left {
  float: left;
  text-align: left; }

.detail-right {
  float: right;
  text-align: right; }

.main-content {
  margin: 40px 0; }

.no-border {
  border: none !important; }

.page-node .main-content {
  background-color: #ffffff;
  border: 1px solid #e6e6e6; }
.page-node .panel-pane {
  padding-top: 0;
  border: none; }

.panels-flexible-region-first.panels-flexible-region-last {
  width: 100%; }

@media only screen and (max-width: 750px) {
  .nivo-caption, .about-header-caption {
    font-size: 10px; } }
.header {
  background: #ffffff; }

header {
  padding-top: 25px;
  padding-bottom: 25px;
  height: 90px; }
  header .logo {
    vertical-align: bottom; }
  header .select-domain-list {
    display: inline-block;
    margin: 0 0 0 10px; }
    header .select-domain-list .cur-domain {
      color: #848484; }
    header .select-domain-list > li {
      position: relative;
      padding-right: 30px;
      background: url(../images/00_ws_header_dropdown_gl.png) no-repeat scroll right center transparent; }
      header .select-domain-list > li:hover .other-domains {
        display: block; }
    header .select-domain-list .other-domains {
      display: none;
      min-width: 100px;
      text-align: center;
      position: absolute;
      margin-top: -27px;
      padding-top: 54px;
      right: 0;
      z-index: 60; }
      header .select-domain-list .other-domains li {
        border: 1px solid #e6e6e6;
        border-top: none;
        background-color: #fcfcfc;
        white-space: nowrap;
        line-height: 20px;
        padding: 10px 30px;
        border-bottom: 1px solid #e6e6e6; }
        header .select-domain-list .other-domains li:last-child {
          border-radius: 0 0 5px 5px; }
      header .select-domain-list .other-domains a {
        color: #7f7f7f; }
        header .select-domain-list .other-domains a:hover, header .select-domain-list .other-domains a:active, header .select-domain-list .other-domains a:focus {
          color: #1a9a3b; }
  header .header_right {
    padding: 3px 0; }

nav {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }

.nav-tabs {
  border: none;
  height: 55px;
  font-size: 16px;
  font-family: "Hei Regular"; }
  .nav-tabs li {
    text-align: center;
    width: 20%; }
    .nav-tabs li a {
      color: #7f7f7f;
      border-top: none;
      border-bottom: 3px solid transparent;
      line-height: 32px;
      border-left: none;
      border-right: none; }
      .nav-tabs li a:hover, .nav-tabs li a.active {
        border-radius: 0;
        border-top: none;
        border-bottom: 3px solid #1a9a3b;
        color: #1a9a3b;
        background: #fcfcfc; }
      .nav-tabs li a:focus {
        background: transparent; }
    .nav-tabs li.active-trail a {
      border-radius: 0;
      border-top: none;
      border-bottom: 3px solid #1a9a3b;
      color: #1a9a3b;
      background: #fcfcfc; }

.header_soc_search, .header_contacts {
  float: right; }

.form-search input[type="text"] {
  background: none repeat scroll 0 0 #fbfbfb;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  color: #cccccc;
  float: right;
  font-size: 13px;
  margin-bottom: 0;
  padding: 7px 30px 7px 8px;
  position: relative;
  right: 0;
  top: 0;
  transition: all 0.2s ease-out 0s;
  width: 150px; }
  .form-search input[type="text"]:hover {
    width: 180px; }

.form-search .input-group .form-control {
  border-radius: 5px; }

.button_search {
  background: #1a9a3b;
  border: medium none;
  border-radius: 0 5px 5px 0;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
  float: right;
  height: 34px;
  padding: 0;
  position: relative;
  right: 5px;
  top: 0;
  width: 30px;
  z-index: 100;
  font-size: 19px; }

.header-mobile {
  background: #ffffff;
  margin-bottom: 0; }
  .header-mobile .navbar-nav {
    margin-top: 0;
    margin-bottom: 0; }
    .header-mobile .navbar-nav li {
      padding: 10px 15px;
      border-bottom: 1px solid #e6e6e6; }
      .header-mobile .navbar-nav li a {
        color: #808080; }
        .header-mobile .navbar-nav li a:hover, .header-mobile .navbar-nav li a:focus {
          background-color: transparent; }
      .header-mobile .navbar-nav li:hover, .header-mobile .navbar-nav li.active-trail {
        background: #fcfcfc; }
        .header-mobile .navbar-nav li:hover a, .header-mobile .navbar-nav li.active-trail a {
          color: #1a9a3b; }
      .header-mobile .navbar-nav li a {
        padding-left: 0; }
    .header-mobile .navbar-nav > li > div {
      height: 40px;
      line-height: 40px; }
  .header-mobile .navbar-header {
    min-height: 60px;
    padding: 20px 0; }
  .header-mobile .navbar-brand {
    padding: 10px 15px; }
  .header-mobile .navbar-toggle {
    border: none; }
    .header-mobile .navbar-toggle .icon-bar {
      height: 3px;
      background-color: #1a9a3b; }
  .header-mobile .navbar-nav .search-block {
    background: #f7f7f7;
    padding-left: 15px; }
    .header-mobile .navbar-nav .search-block .form-search input[type="text"] {
      width: 70%;
      float: left;
      height: 40px; }
    .header-mobile .navbar-nav .search-block .button_search {
      width: 25%;
      float: right;
      border-radius: 5px;
      height: 40px; }
  .header-mobile .header_contacts a {
    color: white !important; }
    .header-mobile .header_contacts a:hover {
      color: white !important; }
  .header-mobile .navbar-nav .contact-block {
    background: #ffffff; }
    .header-mobile .navbar-nav .contact-block:hover {
      background: #ffffff; }
  .header-mobile .domain-block {
    background: #f7f7f7; }
    .header-mobile .domain-block a {
      display: block;
      color: #808080; }
    .header-mobile .domain-block .glyphicon {
      background: #e6e6e6;
      border-radius: 50%;
      height: 20px;
      line-height: 20px;
      text-align: center;
      width: 20px;
      margin-right: 10px;
      color: #ffffff; }
    .header-mobile .domain-block.active, .header-mobile .domain-block:hover {
      color: #1a9a3b; }
      .header-mobile .domain-block.active .glyphicon, .header-mobile .domain-block:hover .glyphicon {
        background: #1a9a3b;
        color: #ffffff; }
      .header-mobile .domain-block.active a, .header-mobile .domain-block:hover a {
        color: #1a9a3b; }

/** landing */
.landing-body {
  background-color: white;
  overflow-x: hidden;
  height: 100%; }
  .landing-body #landing {
    display: table;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: url(../images/img_landingpage.png) no-repeat fixed 50% top white;
    background-size: cover; }
    .landing-body #landing .panel-pane {
      border: none;
      padding: 0;
      background-color: transparent; }
    .landing-body #landing .landing-container {
      border: 1px solid white;
      border-radius: 10px;
      margin: 20% 20px 10%;
      background-color: rgba(255, 255, 255, 0.55); }
      .landing-body #landing .landing-container .top-row {
        padding: 20px 0; }
      .landing-body #landing .landing-container .middle-row {
        border-top: 1px solid white;
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
        background-color: rgba(255, 255, 255, 0.65); }
        .landing-body #landing .landing-container .middle-row > div {
          padding: 20px 20px 25px; }
          .landing-body #landing .landing-container .middle-row > div img {
            border-radius: 50%;
            margin-bottom: 25px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0px 0px rgba(255, 250, 250, 0.3); }
          .landing-body #landing .landing-container .middle-row > div .button {
            margin: 0 auto;
            max-width: 250px; }
      .landing-body #landing .landing-container .bottom-row {
        height: 40px;
        border-top: 1px solid white;
        box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1); }

/** end landing */
/** homepage */
.home-slider-pane {
  padding: 0;
  position: relative; }
  .home-slider-pane .views-nivo-slider {
    margin: 0; }
  .home-slider-pane .nivo-controlNav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 50; }
    .home-slider-pane .nivo-controlNav a {
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url(../images/bullets.png) no-repeat;
      text-indent: -9999px;
      border: 0;
      margin: 0 2px;
      cursor: pointer; }
    .home-slider-pane .nivo-controlNav a.active {
      background-position: 0 -22px; }
  .home-slider-pane .nivo-caption {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    padding: 20px 20px 50px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }
    .home-slider-pane .nivo-caption h1, .home-slider-pane .nivo-caption h2, .home-slider-pane .nivo-caption h3, .home-slider-pane .nivo-caption h4, .home-slider-pane .nivo-caption h5, .home-slider-pane .nivo-caption h6 {
      border: 0;
      color: white; }
    .home-slider-pane .nivo-caption h1 {
      font-size: 2.2em; }
    .home-slider-pane .nivo-caption h4 {
      font-size: 1.2em; }

.product_filter_pane {
  margin-top: 40px;
  padding: 0;
  background: #FFFFFF; }
  .product_filter_pane .product-filter-inner {
    padding: 40px 20px;
    background: white;
    min-height: 376px; }
    .product_filter_pane .product-filter-inner .filter-title-row .filter-title {
      float: left; }
    .product_filter_pane .product-filter-inner .filter-title-row .loan-value, .product_filter_pane .product-filter-inner .filter-title-row .tenure-value {
      float: right; }
    .product_filter_pane .product-filter-inner .filter-title-row #loan, .product_filter_pane .product-filter-inner .filter-title-row #tenure {
      color: #1a9a3b;
      font-size: 24px;
      border: none; }
    .product_filter_pane .product-filter-inner .min-col, .product_filter_pane .product-filter-inner .max-col {
      font-size: 12px;
      color: #bfbfbf; }
    .product_filter_pane .product-filter-inner .min-col {
      float: left; }
    .product_filter_pane .product-filter-inner .max-col {
      float: right; }
    .product_filter_pane .product-filter-inner .range-row {
      margin-top: 10px; }
    .product_filter_pane .product-filter-inner .tenure-row {
      padding-top: 20px;
      border-top: 1px solid #e6e6e6; }
    .product_filter_pane .product-filter-inner .ui-widget-content {
      background: #e6e6e6;
      border: none; }
      .product_filter_pane .product-filter-inner .ui-widget-content .ui-widget-header {
        background: #1a9a3b; }
    .product_filter_pane .product-filter-inner .ui-slider .ui-slider-handle {
      background: none repeat scroll 0 0 #ffffff;
      border: 2px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
      height: 1.3em;
      left: 52%;
      width: 1.3em; }
    .product_filter_pane .product-filter-inner .result-row {
      padding-top: 20px;
      border-top: 1px solid #e6e6e6; }
      .product_filter_pane .product-filter-inner .result-row .result-title {
        color: #1a9a3b; }
      .product_filter_pane .product-filter-inner .result-row .result-detail > div {
        float: left;
        width: 33.33%; }
        .product_filter_pane .product-filter-inner .result-row .result-detail > div:not(:last-child) {
          border-right: 1px solid #e6e6e6; }
        .product_filter_pane .product-filter-inner .result-row .result-detail > div:not(:first-child) {
          padding-left: 0.5em; }
        .product_filter_pane .product-filter-inner .result-row .result-detail > div .value {
          color: #1a9a3b;
          font-size: 1.3em; }
  .product_filter_pane .loan-warning {
    color: red; }
  .product_filter_pane .filtered-product-container {
    background: url(../images/11_ws_arrow_calculator.png) no-repeat left center transparent;
    height: 376px;
    position: relative;
    color: white;
    overflow: hidden; }
    .product_filter_pane .filtered-product-container .filtered-product-img {
      position: relative;
      height: 376px;
      width: 100%; }
      .product_filter_pane .filtered-product-container .filtered-product-img img {
        position: absolute;
        right: 0;
        height: 100%; }
    .product_filter_pane .filtered-product-container .product-filter-slider {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%; }
      .product_filter_pane .filtered-product-container .product-filter-slider .nivo-slice {
        position: relative; }
      .product_filter_pane .filtered-product-container .product-filter-slider img {
        width: auto !important;
        float: right;
        display: block;
        right: 0; }
    .product_filter_pane .filtered-product-container .result-caption {
      position: absolute;
      min-width: 50%;
      left: 2em;
      top: 2em; }
      .product_filter_pane .filtered-product-container .result-caption .result-value {
        font-size: 2em; }
    .product_filter_pane .filtered-product-container .result-buttons {
      position: absolute;
      min-width: 50%;
      left: 2em;
      bottom: 2em; }
      .product_filter_pane .filtered-product-container .result-buttons .buttons {
        max-width: 200px;
        margin-bottom: 20px; }
    .product_filter_pane .filtered-product-container .test-tag-container {
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      background: white;
      padding: 10px; }
      .product_filter_pane .filtered-product-container .test-tag-container a {
        display: block; }
  .product_filter_pane .nivo-controlNav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 50; }
    .product_filter_pane .nivo-controlNav a {
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url(../images/bullets.png) no-repeat;
      text-indent: -9999px;
      border: 0;
      margin: 0 2px;
      cursor: pointer; }
    .product_filter_pane .nivo-controlNav a.active {
      background-position: 0 -22px; }

.home-bottom-pane {
  padding: 40px 20px 20px;
  margin-top: 40px;
  height: 500px;
  position: relative; }
  .home-bottom-pane .gl-title-lg {
    border: none;
    margin: 0;
    height: auto;
    margin-bottom: 20px;
    font-size: 36px; }
  .home-bottom-pane .description {
    margin-bottom: 20px;
    height: 140px;
    overflow: hidden;
    font-size: 20px;
    color: #808080; }
  .home-bottom-pane .button-box {
    width: 40%; }

.home-about-pane {
  background: url(../images/11_img_office_about.png) no-repeat scroll bottom center white;
  margin-right: 20px; }

.home-product-pane {
  background: url(../images/11_img_example.png) no-repeat scroll bottom center white;
  margin-left: 20px; }

/** end homepage */
/** about */
.about-body .region-content {
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  margin: 0; }
.about-body .panel-pane {
  border: none;
  padding: 0; }
.about-body .about-header-pane {
  position: relative; }
  .about-body .about-header-pane .about-header-img img {
    width: 100%; }
  .about-body .about-header-pane .about-header-caption {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    bottom: 0;
    left: 0;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    color: #ffffff;
    width: 100%; }
    .about-body .about-header-pane .about-header-caption p {
      margin: 0;
      font-size: 2em; }
.about-body .office-list-pane {
  margin: 0 20px;
  padding-bottom: 40px; }
.about-body .office-list-row {
  padding-left: 30px;
  padding-bottom: 20px;
  line-height: 25px;
  position: relative; }
  .about-body .office-list-row .glyphicon {
    border-radius: 50%;
    display: block;
    font-size: 13px;
    height: 22px;
    left: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 22px;
    background: #f7f7f7;
    color: #1a9a3b;
    overflow: hidden; }
.about-body .office-time {
  font-size: 1em;
  margin-top: -10px; }
.about-body .staff-list-pane {
  background-color: #fcfcfc;
  padding: 0 20px 20px;
  border-top: 1px solid #e6e6e6;
  margin: 0; }
  .about-body .staff-list-pane .staff-item img {
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    max-width: 90%; }
  .about-body .staff-list-pane .staff-list-row {
    margin: 20px 0; }

/** end about */
/** news list */
.news-body .region-content {
  background-color: #ffffff;
  border: 1px solid #e6e6e6; }
.news-body .panel-pane {
  border: none; }
.news-body .news-list-pane {
  padding: 0 20px; }
  .news-body .news-list-pane .item-list > ul > li {
    margin-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px; }
    .news-body .news-list-pane .item-list > ul > li h2 {
      border: none;
      padding: 0; }
    .news-body .news-list-pane .item-list > ul > li p {
      margin-bottom: 20px; }
    .news-body .news-list-pane .item-list > ul > li .submitted {
      margin-top: 10px;
      margin-bottom: 20px; }
    .news-body .news-list-pane .item-list > ul > li .field-name-body {
      margin-top: 20px; }
    .news-body .news-list-pane .item-list > ul > li img {
      max-width: 100%; }
.news-body .news-tags-pane, .news-body .news-date-pane {
  border: 1px solid #e6e6e6;
  margin-top: 20px; }
.news-body .news-date-pane {
  margin-bottom: 20px; }
.news-body .news-tags-pane {
  margin-top: 60px; }

.news-category-pane {
  padding: 0 20px; }
  .news-category-pane h3 {
    margin-bottom: 0; }
  .news-category-pane .item-list {
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6; }
    .news-category-pane .item-list .news-category {
      margin: 0; }
      .news-category-pane .item-list .news-category li {
        float: left;
        height: 26px;
        line-height: 26px;
        vertical-align: middle;
        width: 20%; }
        .news-category-pane .item-list .news-category li a {
          background: url("../images/news_icons.png") no-repeat scroll 0 0 transparent;
          color: #b2b2b2;
          display: block;
          padding-left: 30px; }
          .news-category-pane .item-list .news-category li a:hover, .news-category-pane .item-list .news-category li a.active {
            background-position: 0 -130px;
            color: #1a9a3b; }
      .news-category-pane .item-list .news-category li:nth-child(2) a {
        background-position: 0 -26px; }
        .news-category-pane .item-list .news-category li:nth-child(2) a:hover, .news-category-pane .item-list .news-category li:nth-child(2) a.active {
          background-position: 0 -156px; }
      .news-category-pane .item-list .news-category li:nth-child(3) a {
        background-position: 0 -52px; }
        .news-category-pane .item-list .news-category li:nth-child(3) a:hover, .news-category-pane .item-list .news-category li:nth-child(3) a.active {
          background-position: 0 -182px; }
      .news-category-pane .item-list .news-category li:nth-child(4) a {
        background-position: 0 -78px; }
        .news-category-pane .item-list .news-category li:nth-child(4) a:hover, .news-category-pane .item-list .news-category li:nth-child(4) a.active {
          background-position: 0 -208px; }
      .news-category-pane .item-list .news-category li:nth-child(5) a {
        background-position: 0 -104px; }
        .news-category-pane .item-list .news-category li:nth-child(5) a:hover, .news-category-pane .item-list .news-category li:nth-child(5) a.active {
          background-position: 0 -234px; }

.news-detail-list li {
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6; }
.news-detail-list .news-image img {
  margin: 10px 0;
  max-width: 100%; }
.news-detail-list .gl-title-slg {
  margin-top: 20px;
  margin-bottom: 10px; }

.panel-pane.news-tags-pane, .panel-pane.news-date-pane {
  margin-right: 20px;
  padding-top: 20px;
  border: 1px solid #e6e6e6;
  background-color: #fcfcfc; }
  .panel-pane.news-tags-pane .pane-title, .panel-pane.news-date-pane .pane-title {
    font-size: 1em;
    font-weight: bold;
    color: #c0c0c0;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 20px 20px;
    margin-bottom: 0; }
  .panel-pane.news-tags-pane .item-list, .panel-pane.news-date-pane .item-list {
    padding: 20px 0 0 20px;
    line-height: 2em; }
    .panel-pane.news-tags-pane .item-list a, .panel-pane.news-date-pane .item-list a {
      color: #848484; }
      .panel-pane.news-tags-pane .item-list a:hover, .panel-pane.news-date-pane .item-list a:hover {
        text-decoration: underline; }
      .panel-pane.news-tags-pane .item-list a.active, .panel-pane.news-date-pane .item-list a.active {
        color: #1a9a3b; }

/** end news list */
/** news detail */
.news-detail-inner {
  padding: 20px; }
  .news-detail-inner img {
    margin: 10px 0;
    max-width: 100%; }

/** end news detail */
/** products */
.product-list-pane .product-list-item {
  margin-bottom: 20px;
  padding: 0 15px;
  min-height: 500px; }
  .product-list-pane .product-list-item .product-item-inner {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #fcfcfc; }
    .product-list-pane .product-list-item .product-item-inner .product-row {
      background-color: #ffffff;
      border-bottom: 1px solid #e6e6e6;
      line-height: 2.5em;
      padding: 0 20px; }
    .product-list-pane .product-list-item .product-item-inner .product-image-row {
      background-color: #ffffff; }
      .product-list-pane .product-list-item .product-item-inner .product-image-row img {
        width: 100%; }
    .product-list-pane .product-list-item .product-item-inner .product-button-row {
      padding: 20px; }
    .product-list-pane .product-list-item .product-item-inner .detail-right {
      color: #1a9a3b; }

.product-list-views {
  margin-top: 40px; }

.faqs-list-pane ol {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0; }
.faqs-list-pane li {
  display: block;
  padding-left: 35px;
  color: #848484;
  margin-bottom: 20px; }
  .faqs-list-pane li:before {
    display: inline-block;
    content: counter(item) "";
    counter-increment: item;
    color: #ffffff;
    border-radius: 50%;
    background-color: #1a9a3b;
    height: 25px;
    line-height: 25px;
    margin-left: -35px;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    width: 25px; }
  .faqs-list-pane li p {
    margin: 0; }
  .faqs-list-pane li em {
    color: #1a9a3b;
    margin-left: 5px; }

/** end products */
/** product detail */
.node-type-product .panel-pane {
  padding-top: 0;
  border: none; }
.node-type-product .main-content {
  padding-bottom: 20px; }
.node-type-product .product-detail-main h3 {
  color: #1a9a3b;
  margin: 20px;
  border: none;
  padding: 0; }
.node-type-product .product-detail-main p {
  margin: 0; }
.node-type-product .product-detail-main .product-description {
  padding: 0 20px; }
.node-type-product .product-detail-main .product-detail-table {
  margin: 20px 20px 0;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  line-height: 2.5em;
  padding: 0; }
  .node-type-product .product-detail-main .product-detail-table .row {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px; }
  .node-type-product .product-detail-main .product-detail-table .text-right {
    color: #1a9a3b; }
  .node-type-product .product-detail-main .product-detail-table .product-detail-table-title {
    background-color: #fcfcfc; }
    .node-type-product .product-detail-main .product-detail-table .product-detail-table-title .text-right {
      color: #b0b0b0; }
.node-type-product .product-list-pane .product-list-item {
  padding: 0 0 0 20px; }
.node-type-product .application-pane {
  margin: 0 20px;
  border: 1px solid #e6e6e6;
  background-color: #fcfcfc;
  padding: 40px 20px 20px; }
  .node-type-product .application-pane .webform-component-fieldset {
    border-bottom: 1px solid #e6e6e6;
    margin: 20px 0 10px; }
  .node-type-product .application-pane .webform-component--hidden {
    display: none; }
  .node-type-product .application-pane .panel-default > .panel-heading {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none; }
    .node-type-product .application-pane .panel-default > .panel-heading .panel-title {
      color: #1a9a3b;
      font-size: 22px;
      font-weight: bold; }
  .node-type-product .application-pane .webform-component-markup {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px; }
  .node-type-product .application-pane .panel-body {
    padding-left: 0;
    padding-right: 0; }
    .node-type-product .application-pane .panel-body .form-item {
      margin-bottom: 20px; }
      .node-type-product .application-pane .panel-body .form-item .form-control-postfix {
        display: inline-block;
        width: 93%;
        width: calc(100% - 20px); }
      .node-type-product .application-pane .panel-body .form-item .field-suffix {
        display: block;
        float: right;
        width: 20px;
        line-height: 32px;
        vertical-align: middle;
        text-align: right; }
    .node-type-product .application-pane .panel-body .two-cols-first {
      float: left;
      margin-right: 10%;
      width: 45%; }
    .node-type-product .application-pane .panel-body .two-cols-second {
      float: left;
      width: 45%; }
    .node-type-product .application-pane .panel-body .two-cols-radio .radio input {
      margin-left: 0; }
    .node-type-product .application-pane .panel-body .two-cols-radio .form-type-radio:first-child {
      display: inline-block;
      margin-right: 10%;
      width: 45%; }
    .node-type-product .application-pane .panel-body .two-cols-radio .form-type-radio:last-child {
      display: inline-block;
      width: 40%; }
  .node-type-product .application-pane .panel {
    background: transparent; }
  .node-type-product .application-pane span.form-required {
    color: red; }
  .node-type-product .application-pane .webform-submit {
    background: #1a9a3b;
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 60px;
    border-radius: 10px; }
    .node-type-product .application-pane .webform-submit:hover {
      background: #2faf3f; }

/** end product detail */
/** career list */
.career-body p {
  margin: 0; }
.career-body .region-content {
  background-color: #ffffff;
  border: 1px solid #e6e6e6; }
.career-body .panel-pane {
  border: none; }
.career-body .career-image-pane {
  padding: 0;
  margin-bottom: 40px; }
.career-body .career-list-pane {
  padding-top: 0;
  margin: 0 20px; }
.career-body .career-list-item {
  border: 1px solid #e6e6e6;
  margin: 0 20px 20px;
  border-radius: 5px; }
  .career-body .career-list-item .gl-title {
    border: none;
    margin-bottom: 10px;
    height: auto; }
  .career-body .career-list-item .career-list-inner {
    padding: 0 20px; }
  .career-body .career-list-item .career-button-row {
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid #e6e6e6; }

/** end career */
/** career detail */
.career-detail-inner {
  padding: 0 20px 20px; }
  .career-detail-inner .top-title {
    margin-bottom: 25px; }
  .career-detail-inner .career-detail-table {
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    margin-bottom: 40px; }
    .career-detail-inner .career-detail-table .career-title {
      padding: 10px 20px;
      border-radius: 5px 5px 0 0;
      background-color: #fcfcfc;
      margin: 0;
      border: 0; }
    .career-detail-inner .career-detail-table .career-detail-field {
      border-top: 1px solid #e6e6e6;
      padding: 10px 20px; }
  .career-detail-inner .career-description {
    margin-bottom: 20px; }
  .career-detail-inner .buttons {
    padding-top: 20px;
    border-top: 1px solid #e6e6e6; }
    .career-detail-inner .buttons .first {
      padding-right: 20px; }
    .career-detail-inner .buttons .last {
      padding-left: 20px; }

.career-others-list-pane {
  margin: 20px; }
  .career-others-list-pane .pane-title .gl-title {
    margin: 0;
    color: #b0b0b0;
    border: none; }
  .career-others-list-pane .career-list-item {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 20px; }
    .career-others-list-pane .career-list-item .gl-title {
      height: auto;
      border: none;
      margin: 10px; }
    .career-others-list-pane .career-list-item .career-list-inner {
      padding: 0 20px;
      vertical-align: middle; }
    .career-others-list-pane .career-list-item .career-button-row {
      padding: 20px;
      border-top: 1px solid #e6e6e6;
      border-radius: 0 0 5px 5px; }

/** end career detail */
/** search */
.search-body .region-content {
  background-color: #ffffff;
  border: 1px solid #e6e6e6; }
  .search-body .region-content .panel-pane {
    border: none; }
  .search-body .region-content .search-summary-pane h3 {
    margin-bottom: 0; }
  .search-body .region-content .search-result-pane {
    min-height: 300px;
    border-right: 1px solid #e6e6e6;
    margin: 0 20px 20px;
    padding: 0 20px 0 0; }
    .search-body .region-content .search-result-pane .search-result-title {
      margin-bottom: 20px; }
      .search-body .region-content .search-result-pane .search-result-title > div {
        padding-left: 20px; }
    .search-body .region-content .search-result-pane .view-content .row {
      line-height: 2.2em; }
      .search-body .region-content .search-result-pane .view-content .row > div {
        padding-left: 20px; }
      .search-body .region-content .search-result-pane .view-content .row .nowrap {
        overflow: hidden;
        text-overflow: ellipsis; }
    .search-body .region-content .search-result-pane .views-row-odd {
      background-color: #f7f7f7; }
    .search-body .region-content .search-result-pane .view-empty h3 {
      border-bottom: none; }
  .search-body .region-content .search-type-pane .search-type-title {
    margin-bottom: 20px; }
  .search-body .region-content .search-type-pane a {
    color: #848484; }
    .search-body .region-content .search-type-pane a:hover {
      text-decoration: underline; }
    .search-body .region-content .search-type-pane a.active {
      color: #1a9a3b; }

/** end search */
/** prospect */
#overlay-container, .overlay-modal-background, .overlay-element {
  z-index: 1001; }

.overlay-element.overlay-active {
  z-index: 1002; }

body.overlay #overlay {
  margin-top: 4.5%; }
  body.overlay #overlay #overlay-titlebar {
    display: none; }
  body.overlay #overlay #overlay-content {
    border-radius: 5px;
    padding: 0;
    color: #848484; }
    body.overlay #overlay #overlay-content .prospect-content, body.overlay #overlay #overlay-content .overlay-content {
      border: none;
      background-color: transparent;
      margin: 0; }
      body.overlay #overlay #overlay-content .prospect-content .button-box, body.overlay #overlay #overlay-content .overlay-content .button-box {
        border-top: 1px solid #e6e6e6;
        background-color: #fcfcfc;
        margin-top: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
        body.overlay #overlay #overlay-content .prospect-content .button-box #overlay-close, body.overlay #overlay #overlay-content .overlay-content .button-box #overlay-close {
          background: #1a9a3b;
          border-radius: 5px;
          display: block;
          height: auto;
          margin: 20px 0;
          padding: 10px;
          position: inherit;
          width: auto; }
      body.overlay #overlay #overlay-content .prospect-content h3, body.overlay #overlay #overlay-content .overlay-content h3 {
        border: none; }
      body.overlay #overlay #overlay-content .prospect-content .or, body.overlay #overlay #overlay-content .overlay-content .or {
        background-color: #e6e6e6;
        height: 1px;
        margin: 20px 0; }
        body.overlay #overlay #overlay-content .prospect-content .or span, body.overlay #overlay #overlay-content .overlay-content .or span {
          display: inline-block;
          line-height: 20px;
          margin-top: -20px;
          padding: 0 20px;
          vertical-align: middle;
          background-color: white; }
      body.overlay #overlay #overlay-content .prospect-content form > div, body.overlay #overlay #overlay-content .overlay-content form > div {
        text-align: center; }
      body.overlay #overlay #overlay-content .prospect-content form .form-item, body.overlay #overlay #overlay-content .overlay-content form .form-item {
        padding: 0 20px 10px;
        background-color: white; }
        body.overlay #overlay #overlay-content .prospect-content form .form-item label, body.overlay #overlay #overlay-content .overlay-content form .form-item label {
          float: left; }
          body.overlay #overlay #overlay-content .prospect-content form .form-item label .form-required, body.overlay #overlay #overlay-content .overlay-content form .form-item label .form-required {
            color: red; }
        body.overlay #overlay #overlay-content .prospect-content form .form-item input, body.overlay #overlay #overlay-content .overlay-content form .form-item input {
          clear: left; }
      body.overlay #overlay #overlay-content .prospect-content form .webform-component--qq-id, body.overlay #overlay #overlay-content .overlay-content form .webform-component--qq-id {
        padding-bottom: 40px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 20px; }
      body.overlay #overlay #overlay-content .prospect-content button, body.overlay #overlay #overlay-content .overlay-content button {
        background-color: #1a9a3b;
        width: 76%;
        margin-bottom: 20px; }

/** end prospect */
footer {
  background: #333333;
  color: #9b9b9b;
  padding-top: 20px;
  padding-bottom: 20px; }

footer a {
  color: #9b9b9b; }
  footer a:hover {
    color: #dddddd; }
  footer a:active {
    color: #dddddd; }

@media (max-width: 969px) {
  .search-type-pane {
    display: none; }

  .search-body .region-content .search-result-pane {
    border: none; }

  .search-body .region-content .search-result-pane .view-content .row {
    line-height: 3em;
    border-bottom: 1px solid #e6e6e6; }

  .search-body .region-content .search-result-pane .views-row-odd {
    background-color: transparent; }

  .news-tags-pane {
    margin-top: 20px; }

  .news-tags-pane, .news-date-pane {
    margin-left: 20px; }

  .home-bottom-pane {
    margin: 0; } }
@media (max-width: 767px) {
  .main-content {
    margin: 0; }

  .product-list-pane .product-list-item {
    padding: 0; }

  .node-type-product .product-detail-main .product-detail-table {
    margin-left: 20px; }

  .node-type-product .application-pane {
    margin-bottom: 20px; }

  .region-footer-secondcolumn, .region-footer-thirdcolumn {
    padding-left: 40px; }

  .xs-contacts-block {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px; }
    .xs-contacts-block .header_contacts {
      float: left;
      margin-left: 40px; }

  .xs-copyright-block {
    padding-top: 20px; }

  .search-body .region-content .search-result-pane {
    border: none; }

  .product_filter_pane .product-filter-inner {
    padding-bottom: 0;
    min-height: inherit; }
  .product_filter_pane .filtered-product {
    background: url("../images/11_mp_arrow_calculator.png") no-repeat scroll center top transparent;
    min-height: 400px; }
    .product_filter_pane .filtered-product .result-caption {
      top: 30%; } }

/*# sourceMappingURL=style.css.map */
