// define color: color/background-color/border-color
$main-color : #1a9a3b;
$main-color-hover : #2faf3f;
$font-color: #848484;
$right-title-color: #cdcdcd;
$second-font-color: #c0c0c0;
$third-font-color: #b0b0b0;
$fourth-font-color: #b2b2b2;
$fifth-font-color: #808080;
$sixth-font-color: #bfbfbf;
$font-header-color: #c2c2c2;
$reverse-color: #ffffff;
$footer-bg-color: #333333;
$footer-color: #9b9b9b;
$footer-highlight-color: #dddddd;
$main-bg-color: #f7f7f7;
$header-bg-color: #ffffff;
$border-color: #e6e6e6;
$circle-border-color: #e0e0e0;
$nav-color: #7f7f7f;
$nav-hover-bg-color: #fcfcfc;
$caption-bg-color: rgba(0, 0, 0, 0.2);
$second-bg-color: #ffffff;
$third-bg-color: #fcfcfc;
$fourth-bg-color: #e6e6e6;
$caption-text-shadow: 2px 2px 0 rgba(0,0,0,0.5);

// define section padding
$section-distance: 20px;
$section-header-distance: 25px;
$header-footer-distance: 40px;
$bootstrap-distance: 15px;
$icon-distance: 30px;

html{
  height: 100%;
  background-color: $footer-bg-color;
}
body{
  color: $font-color;
  background: $main-bg-color;
  font-family: "hei regular","Helvetica Neue",Helvetica,Arial,sans-serif;;
}
ul,li{
  list-style: none;
}
a{
  color: $main-color;
  &:hover, &:focus{
    text-decoration: none;
    color: $main-color;
    outline: none;
  }
}
h1,h2,h3{
  padding-bottom: 15px;
  border-bottom: 1px solid $border-color;
  color: $main-color;
}
h4,h5,h6{
  padding-bottom: 10px;
  color: $main-color;
}
.panel-pane{
  padding-bottom: $section-distance;
  background: $second-bg-color;
  border: 1px solid $border-color;
}
.region-two-66-33-second{
  h3{
    color: $right-title-color;
  }
}
.header_contacts{
  background: $main-color;
  color: $reverse-color;
  font-size: 18px;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 10px;
  height: 34px;
  line-height: 32px;
  width: 245px;
  a{
    color: $reverse-color;
    &:hover{
      color: $reverse-color;
    }
    &:active{
      color: $reverse-color;
    }
  }
  .glyphicon{
    font-size: 19px;
    margin-right: 10px;
    vertical-align: baseline;
    top: 3px;

  }
  .service{
    border-left: 1px solid rgba(30, 30, 30, 0.29);
    box-shadow: -1px 0 0 0 rgba(200, 200, 200, 0.5);
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
  }
}
.main-color{
  color: $main-color;
}
.section-distance-top{
  margin-top: $section-distance;
}
.section-distance-left{
  margin-left: $section-distance;
}
.section-distance-right{
  margin-right: $section-distance;
}
.section-distance-bottom{
  margin-bottom: $section-distance;
}
.section-inner-left{
  padding-left: $section-distance;
}
.section-inner-right{
  padding-right: $section-distance;
}
.section-inner-top{
  padding-top: $section-distance;
}
.section-inner-bottom{
  padding-bottom: $section-distance;
}
.gl-title{
  color: $main-color;
  font-size: 20px;
  margin-bottom: $section-distance / 2;
  margin-top: $section-distance / 2;
}
.gl-title-lg{
  font-size: 22px;
  font-weight: bold;
  height: 48px;
  margin-bottom: $section-distance;
  border-bottom: 1px solid $border-color;
}
.gl-title-slg{
  font-size: 30px;
  font-weight: bold;
  display: block;
}
.third-bg-color{
  background-color: $third-bg-color;
}
.button{
  background-color: $main-color;
  border-radius: 5px;
  border: 1px solid #26af4a;
  box-shadow: 0px 0px 0px 1px #178031;
  color: $reverse-color;
  display: block;
  font-weight: bold;
  padding: $section-distance / 2 0;
  text-align: center;
  text-shadow: 1px 1px 1px #178031;
  &:hover, &:focus{
    color: $reverse-color;
  }
}
.half{
  display: inline-block;
  width: 50%;
}
.lable-left{
  float: left;
  text-align: left;
}
.detail-right{
  float: right;
  text-align: right;
}
.main-content{
  margin: $header-footer-distance 0;
}
.no-border{
  border: none !important;
}
.page-node{
  .main-content{
    background-color: $second-bg-color;
    border: 1px solid $border-color;
  }
  .panel-pane{
    padding-top: 0;
    border: none;
  }
}
// fixed full image width just display 99% issue(overwrite drupal default css)
.panels-flexible-region-first.panels-flexible-region-last{
  width: 100%;
}

// media query
@media only screen and (max-width : 750px) {
  .nivo-caption,.about-header-caption{ font-size: 10px; }
}