/** homepage */
.view-id-slider_views {
  position: relative;
  .nivo-controlNav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 50;
    a{
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url(../images/bullets.png) no-repeat;
      text-indent: -9999px;
      border: 0;
      margin: 0 2px;
      cursor: pointer;
    }
    a.active{
      background-position: 0 -22px;
    }
  }
  .nivo-caption{
    background: none repeat scroll 0 0 rgba(0,0,0,0.15);
    padding-bottom: 50px;
  }
}
/** end homepage */

/** about */
.main-content{
  margin-top: $section-distance;
  margin-bottom: $section-distance;
}
.about-views-header{
  position: relative;
  .about-header-img img{
    width: 100%;
  }
  .about-header-caption{
    bottom: $section-distance;
    left: $section-distance;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    color: $reverse-color;
  }
}
.office-list-row{
  padding-left: 30px;
  padding-bottom: 20px;
  line-height: 25px;
  position: relative;
  .glyphicon{
    border-radius: 50%;
    display: block;
    font-size: 13px;
    height: 22px;
    left: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 22px;
    background: $main-bg-color;
    color: $main-color;
  }
}
.staff-list-container{
  background: $third-bg-color;
  padding: $section-distance;
  border-top: 1px solid $border-color;
  .staff-item img{
    border-radius: 50%;
  }
}
/** end about */

/** news */
.news-body{
  .region-content{
    background-color: $second-bg-color;
    border: 1px solid $border-color;
  }
  .panel-pane{
    border: none;
  }
  .news-tags-pane, .news-date-pane{
    border: 1px solid $border-color;
  }
}
.news-category{
  border-bottom: 1px solid $border-color;
  li{
    float: left;
    width: 20%;
    padding: 0 0 $section-distance $icon-distance;

  }
}
.news-detail-list{
  li{
    padding-bottom: $section-distance;
    border-bottom: 1px solid $border-color;
  }
  .news-image{
    margin: $section-distance / 2 0;
  }
  .gl-title-slg{
    margin-top: $section-distance;
    margin-bottom: $section-distance / 2;
  }
}
.news-tags-pane, .news-date-pane{
  margin-top: $section-distance;
  margin-right: $section-distance;
  border: 1px solid $border-color;
  background-color: $third-bg-color;
  .pane-title{
    font-size: 1em;
    font-weight: bold;
    color: $second-font-color;
    border-bottom: 1px solid $border-color;
    padding: 0 0 $section-distance $section-distance;
    margin-bottom: 0;
  }
  .item-list{
    padding: $section-distance 0 0 $section-distance;
    line-height: 2em;
    a{
      color: $font-color;
      &:hover{
        text-decoration: underline;
      }
      &.active{
        color: $main-color;
      }
    }
  }
}
/** end news */

/** products */
.product-list-item{
  margin-bottom: $section-distance;
  .product-item-inner{
    border: 1px solid $border-color;
    border-radius: 5px;
    background-color: $third-bg-color;
    .product-row{
      background-color: $second-bg-color;
      border-bottom: 1px solid $border-color;
      line-height: 2.5em;
      padding: 0 $section-distance;
    }
    .product-image-row{
      background-color: $second-bg-color;
      img{
        width: 100%;
      }
    }
    .product-button-row{
      padding: $section-distance;
    }
    .text-right{
      color: $main-color;
    }
  }
}
.faqs-list-pane{
  ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
  }
  li {
    display: block;
    padding-left: 35px;
    color: $main-color;
    &:before{
      display: inline-block;
      content: counter(item) "";
      counter-increment: item;
      color: $reverse-color;
      border-radius: 50%;
      background-color: $main-color;
      height: 25px;
      line-height: 25px;
      margin-left: -35px;
      margin-right: 5px;
      padding: 0;
      text-align: center;
      width: 25px;
    }
    p{
      color: $font-color;
    }
  }
}
/** end products */

/** product detail */
.node-type-product{
  .main-content{
    background-color: $second-bg-color;
    border: 1px solid $border-color;
  }
  .panel-pane{
    padding-top: 0;
    border: none;
  }
  .product-detail-main{
    h2{
      color: $main-color;
      margin: $section-distance;
    }
    p{
      margin: 0;
    }
    .product-description{
      margin-left: $section-distance;
    }
    .product-detail-table{
      margin: $section-distance $section-distance 0 0;
      border: 1px solid $border-color;
      border-bottom: none;
      line-height: 2.5em;
      padding: 0 15px;
      .row{
        border-bottom: 1px solid $border-color;
      }
      .text-right{
        color: $main-color;
      }
      .product-detail-table-title{
        background-color: $third-bg-color;
        color: $third-font-color;
      }
    }
  }
  .application-pane{
    margin: 0 $section-distance;
    border: 1px solid $border-color;
    background-color: $third-bg-color;
    .panel{
      background: transparent;
    }
  }
}
/** end product detail */
