/** homepage */
.view-id-slider_views {
  position: relative;
  .nivo-controlNav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 50;
    a{
      display: inline-block;
      width: 22px;
      height: 22px;
      background: url(../images/bullets.png) no-repeat;
      text-indent: -9999px;
      border: 0;
      margin: 0 2px;
      cursor: pointer;
    }
    a.active{
      background-position: 0 -22px;
    }
  }
  .nivo-caption{
    background: none repeat scroll 0 0 rgba(0,0,0,0.15);
    padding-bottom: 50px;
  }
}
.home-bottom-pane{
  padding: 0;
}
/** end homepage */

/** about */
.about-body{
  .region-content{
    background-color: $second-bg-color;
    border: 1px solid $border-color;
    margin: $section-distance 0;
  }
  .panel-pane{
    border: none;
    padding: 0;
  }
  .about-views-header{
    position: relative;
    .about-header-img img{
      width: 100%;
    }
    .about-header-caption{
      bottom: $section-distance;
      left: $section-distance;
      font-size: 2em;
      font-weight: bold;
      text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
      position: absolute;
      color: $reverse-color;
    }
  }
  .office-list-row{
    padding-left: 30px;
    padding-bottom: 20px;
    line-height: 25px;
    position: relative;
    .glyphicon{
      border-radius: 50%;
      display: block;
      font-size: 13px;
      height: 22px;
      left: 0;
      line-height: 22px;
      position: absolute;
      text-align: center;
      top: 3px;
      width: 22px;
      background: $main-bg-color;
      color: $main-color;
    }
  }
  .staff-list-container{
    .panel-pane{
      background-color: transparent;
    }
    background-color: $third-bg-color;
    padding: $section-distance;
    border-top: 1px solid $border-color;
    .staff-item img{
      border-radius: 50%;
    }
  }
}
/** end about */

/** news list */
.news-body{
  .region-content{
    background-color: $second-bg-color;
    border: 1px solid $border-color;
  }
  .panel-pane{
    border: none;
  }
  .news-tags-pane, .news-date-pane{
    border: 1px solid $border-color;
  }
}
.news-category{
  border-bottom: 1px solid $border-color;
  li{
    float: left;
    width: 20%;
    padding: 0 0 $section-distance $icon-distance;

  }
}
.news-detail-list{
  li{
    padding-bottom: $section-distance;
    border-bottom: 1px solid $border-color;
  }
  .news-image{
    margin: $section-distance / 2 0;
  }
  .gl-title-slg{
    margin-top: $section-distance;
    margin-bottom: $section-distance / 2;
  }
}
.panel-pane.news-tags-pane, .panel-pane.news-date-pane{
  margin-top: $section-distance;
  margin-right: $section-distance;
  padding-top: $section-distance;
  border: 1px solid $border-color;
  background-color: $third-bg-color;
  .pane-title{
    font-size: 1em;
    font-weight: bold;
    color: $second-font-color;
    border-bottom: 1px solid $border-color;
    padding: 0 0 $section-distance $section-distance;
    margin-bottom: 0;
  }
  .item-list{
    padding: $section-distance 0 0 $section-distance;
    line-height: 2em;
    a{
      color: $font-color;
      &:hover{
        text-decoration: underline;
      }
      &.active{
        color: $main-color;
      }
    }
  }
}
/** end news list */

/** news detail */
.news-detail-inner{
  padding: $section-distance;
  img{
    margin: $section-distance / 2 0;
  }
}
/** end news detail */

/** products */
.product-list-pane{
  .product-list-item{
    margin-bottom: $section-distance;
    .product-item-inner{
      border: 1px solid $border-color;
      border-radius: 5px;
      background-color: $third-bg-color;
      .product-row{
        background-color: $second-bg-color;
        border-bottom: 1px solid $border-color;
        line-height: 2.5em;
        padding: 0 $section-distance;
      }
      .product-image-row{
        background-color: $second-bg-color;
        img{
          width: 100%;
        }
      }
      .product-button-row{
        padding: $section-distance;
      }
      .text-right{
        color: $main-color;
      }
    }
  }
}
.faqs-list-pane{
  ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
  }
  li {
    display: block;
    padding-left: 35px;
    color: $main-color;
    &:before{
      display: inline-block;
      content: counter(item) "";
      counter-increment: item;
      color: $reverse-color;
      border-radius: 50%;
      background-color: $main-color;
      height: 25px;
      line-height: 25px;
      margin-left: -35px;
      margin-right: 5px;
      padding: 0;
      text-align: center;
      width: 25px;
    }
    p{
      color: $font-color;
    }
  }
}
/** end products */

/** product detail */
.node-type-product{
  .panel-pane{
    padding-top: 0;
    border: none;
  }
  .product-detail-main{
    h2{
      color: $main-color;
      margin: $section-distance;
    }
    p{
      margin: 0;
    }
    .product-description{
      margin-left: $section-distance;
    }
    .product-detail-table{
      margin: $section-distance $section-distance 0 0;
      border: 1px solid $border-color;
      border-bottom: none;
      line-height: 2.5em;
      padding: 0 15px;
      .row{
        border-bottom: 1px solid $border-color;
      }
      .text-right{
        color: $main-color;
      }
      .product-detail-table-title{
        background-color: $third-bg-color;
        color: $third-font-color;
      }
    }
  }
  .application-pane{
    margin: 0 $section-distance;
    border: 1px solid $border-color;
    background-color: $third-bg-color;
    padding: $section-distance * 2 $section-distance $section-distance;
    .webform-component-fieldset{
      border-bottom: 1px solid $border-color;
      margin: $section-distance 0 $section-distance / 2;
    }
    .panel-default > .panel-heading{
      background: transparent;
      padding: 0;
      margin: 0;
      border: none;
      .panel-title{
        color: $main-color;
        font-size: 22px;
        font-weight: bold;
      }
    }
    .webform-component-markup{
      border-bottom: 1px solid $border-color;
      margin-bottom: $section-distance / 2;
    }
    .panel-body{
      padding-left: 0;
      padding-right: 0;
      .form-item{
        margin-bottom: $section-distance;
        .form-control-postfix{
          display: inline-block;
          width: 93%;
          width: calc(100% - 20px);
        }
        .field-suffix{
          display: block;
          float: right;
          width: 20px;
          line-height: 32px;
          vertical-align: middle;
          text-align: right;
        }
      }
      .two-cols-first {
        float: left;
        margin-right: 10%;
        width: 45%;
      }
      .two-cols-second {
        float: left;
        width: 45%;
      }
      .two-cols-radio{
        .radio input{
          margin-left: 0;
        }
        .form-type-radio:first-child{
          display: inline-block;
          margin-right: 10%;
          width: 45%;
        }
        .form-type-radio:last-child{
          display: inline-block;
          width: 40%;
        }
      }
    }
    .panel{
      background: transparent;
    }
    span.form-required{
      color: red;
    }
    .webform-submit{
      background: $main-color;
      color: $reverse-color;
      margin-top: $section-distance;
      padding: $section-distance / 2 $section-distance * 3;
      border-radius: 10px;
      &:hover{
        background: $main-color-hover;
      }
    }
  }
}
/** end product detail */

/** jobs list */
.jobs-body{
  p{
    margin: 0;
  }
  .region-content{
    background-color: $second-bg-color;
    border: 1px solid $border-color;
  }
  .panel-pane{
    border: none;
  }
  .jobs-image-pane{
    padding: 0;
  }
  .jobs-list-pane{
    padding-top: 0;
    margin: 0 $section-distance;
  }
  .jobs-list-item{
    padding-top: $section-distance;
    border: 1px solid $border-color;
    margin: 0 $section-distance $section-distance;
    .gl-title{
      border: none;
      margin-bottom: $section-distance / 2;
      height: auto;
    }
    .jobs-list-inner{
      padding: 0 $section-distance;
    }
    .jobs-button-row{
      padding: $section-distance;
      margin-top: $section-distance;
      border-top: 1px solid $border-color;


    }
  }
}
/** end jobs */

/** job detail */
.job-detail-inner{
  padding: $section-distance;
  .job-detail-table{
    border-radius: 5px;
    border: 1px solid $border-color;
    margin-bottom: $section-distance * 2;
    .title{
      padding: $section-distance / 2 $section-distance;
      border-radius: 5px 5px 0 0;
      background-color: $third-bg-color;
    }
    .job-detail-field{
      border-top: 1px solid $border-color;
      padding: $section-distance / 2 $section-distance;
      .lable-left{
        float: left;
        text-align: left;
      }
      .detail-right{
        float: right;
        text-align: right;
      }
    }
  }
  .job-description{
    margin-bottom: $section-distance;
  }
  .buttons{
    padding-top: $section-distance;
    border-top: 1px solid $border-color;
    .first{
      padding-right: $section-distance;
    }
    .last{
      padding-left: $section-distance;
    }
  }
}
.job-others-list-pane{
  margin: $section-distance;
  .pane-title .gl-title{
    margin: 0;
    opacity: 0;
  }
  .jobs-list-item{
    border: 1px solid $border-color;
    border-radius: 5px;
    margin-bottom: $section-distance;
    .gl-title{
      height: auto;
      border: none;
      margin: $section-distance / 2;
    }
    .jobs-list-inner{
      padding: 0 $section-distance;
      vertical-align: middle;
    }
    .jobs-button-row{
      padding: $section-distance;
      border-top: 1px solid $border-color;
    }
  }
}
/** end job detail */
