@media (max-width: 969px) {
  .search-type-pane{
    display: none;
  }
  .search-body .region-content .search-result-pane{
    border: none;
  }
  .search-body .region-content .search-result-pane .view-content .row{
    line-height: 3em;
    border-bottom: 1px solid $border-color;
  }
  .search-body .region-content .search-result-pane .views-row-odd{
    background-color: transparent;
  }
  .news-tags-pane{
    margin-top: $section-distance;
  }
  .news-tags-pane,.news-date-pane{
    margin-left: $section-distance;
  }
  .home-bottom-pane{
    margin: 0;
  }
}
@media (max-width: 767px) {
  .main-content {
    margin: 0;
  }
  .product-list-pane .product-list-item {
    padding: 0;
  }
  .node-type-product .product-detail-main .product-detail-table{
    margin-left: $section-distance;
  }
  .node-type-product .application-pane{
    margin-bottom: $section-distance;
  }
  .region-footer-secondcolumn,.region-footer-thirdcolumn{
    padding-left: 40px;
  }
  .xs-contacts-block{
    padding-bottom: $section-distance;
    border-bottom: 1px solid black;
    margin-bottom: $section-distance;
    .header_contacts {
      float: left;
      margin-left: $section-distance * 2;
    }
  }
  .xs-copyright-block{
    padding-top: $section-distance;
  }
  .search-body .region-content .search-result-pane{
    border: none;
  }
  .product_filter_pane {
    .product-filter-inner{
      padding-bottom: 0;
      min-height: inherit;
    }
    .filtered-product{
      background: url("../images/11_mp_arrow_calculator.png") no-repeat scroll center top transparent;
      min-height: 400px;
      .result-caption{
        top: 30%;
      }
    }
  }
}
