// views table
table{
  width: 100%;
  thead{
    th{
      background-color: #ffffff;
    }
  }
  th,td{
    padding: 8px 10px;
    border: none;
  }
  tr.even, tr:nth-child(2n){
    background-color: transparent;
    td{
      background-color: #ffffff;
    }
  }
  tr.odd, tr:nth-child(2n+1) {
    background-color: transparent;
    td{
      background-color: $second-bg-color;
    }
  }
  td.active{
    background-color: $main-bg-color;
  }
  th.radio, th.checkbox,
  td.radio, td.checkbox{
    display: table-cell;
    input[type="radio"], input[type="checkbox"]{
      position: inherit;
      margin: 0;
    }
  }
}
.add-new-row{
  margin-bottom: $section-distance;
}
.sticky-header{
  z-index: 999;
  min-height: 58px;
  display: block;
}
.views-table {
  border-radius: $border-radius;
  .views-field-views-bulk-operations, .views-field-edit-node {
    text-align: center;
  }
  .views-field {
    vertical-align: middle;
    input[type="radio"], input[type="checkbox"] {
      margin: 0;
    }
  }
  .even td {
    background-color: white;
  }
  .views-row-last {
    border-bottom: none;
  }
}

// edit panel
.node-form {
  textarea {
    color: black;
  }
  div.form-item-title{
    padding-left: 165px;
  }
  div.form-wrapper{
    padding-left: 165px;
    .form-type-checkboxes{
      padding-left: 0;
      .form-checkboxes{
        padding-left: 165px;
        display: inline-block;
      }
    }
  }
  .form-type-checkboxes.form-item-domains{
    padding-left: 165px;
    .form-type-checkbox{
      padding-left: 165px;
    }
  }
  .form-text, .form-select {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e2e2e4;
    border-radius: 4px;
    box-shadow: none;
    color: black;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
  }
  .group-parameters{
    .form-text, .form-select {
      display: inline-block;
    }
  }
  .image-widget-data {
    .form-item {
      margin-top: $section-distance;
    }
    .description {
      white-space: nowrap;
    }
  }
  #edit-domains {
    display: inline-block;
  }
  #edit-actions {
    padding: 0;

  }
  input[type="file"] {
    display: inline-block;
  }
}
.btn-primary {
  margin-right: $section-distance;
}
.btn-warning {
  margin-right: $section-distance;
}
