/** reporting */
.page-node-submission{
  fieldset.webform-submission-info{
    padding-left: 0;
    padding-right: 0;
    .webform-submission-info-text {
      line-height: 2em;
      padding: 0 10px;
    }
  }
}
/** end reporting */