// define color: color/background-color/border-color
$main-color : #1a9a3b;
$main-bg-color: #f7f7f7;
$second-bg-color: #fcfcfc;

// define section padding
$section-distance: 20px;

// others
$border-radius: 4px;
